@charset "utf-8";
body{
	width: 100%;
	margin: 0 auto;
}
body{
	font: normal normal 12px/20px "微软雅黑","宋体";
}
#nav1{
	height: 30px;
	line-height: 30px;
	background: #323232;
	font-size: 12px;
	font-weight: bold;
	font-family: "黑体";
	color: #c0c0c0;
}

#nav1 #ul1{
	float: left;
	padding-left: 15px;
}
#nav1>ul>li{
	float: left;
	height: 30px;
	line-height: 30px;
}
#nav1>ul>li:hover{
	color: #10b041;
}
#nav1 #ul1>li{
	margin: 0 15px;
	
}
#nav1 #ul1>li:first-of-type{
	padding-top: 4px;
}
#nav1 #ul1>li:nth-of-type(5) img,#nav1 #ul1>li:nth-of-type(9) img{
	margin-left: 2px;
}

#nav1 #ul2{
	float: right;
	padding-right: 23px;
}
#nav1 #ul2 li{
	margin: 0 7px;
}
#nav1 #ul2 li:first-of-type,#nav1 #ul2 li:nth-of-type(2),#nav1 #ul2 li:nth-of-type(3),#nav1 #ul2 li:nth-of-type(4){
	padding-top: 4px;
}
#nav1 #ul2 li:first-of-type{
	width: 31px;
	margin-right: 17px;
	background: url(../img/images/nav1-bj2.jpg) no-repeat right center;
}
#sq{
	width: 185px;
	height: 114px;
	position: absolute;
	top: 30px;
	left: 310px;
	background: white;
	z-index: 10;
	border-radius: 4px;
	display: none;
	z-index: 10;
}
#sq ul{
	margin-top: 10px;
}
#sq ul li{
	width: 185px;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	color: #636378;
	padding-left: 22px;
}
#sq ul li:hover{
	background: #e3fae1;
}
#sq ul li .div1{
	width: 610px;
	height: 352px;
	background: skyblue;
	position: absolute;
	top: 0;
	left: 190px;
	display: none;
}
#yd{
	width: 125px;
	height: 178px;
	position: absolute;
	top: 30px;
	left: 600px;
	background: white;
	z-index: 10;
	border-radius: 4px;
	font-size: 15px;
	color: #636363;
	font-weight: normal;
	display: none;
	z-index: 10;
}
#yd ul{
	margin-top: 10px;
}
#yd ul li{
	width: 125px;
	line-height: 32px;
	padding-left: 22px;
}
#yd ul li:hover{
	background: #e3fae1;
}
#ss{
	position: fixed;
	top: 7px;
	right: 40px;
	display: none;
}
#nav1 .ul2 li .divs{
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	right: 400px;
	z-index: 10;
}
#bannerbanner{
	height: 120px;
	background: url(../img/images/banner1-bj.jpg);
	position: relative;
	
	
}
#bannerbanner .search{
	width: 480px;
	height: 42px;
	position: absolute;
	left: 434px;
	top: 38px;
	border-radius: 16px;
	background: white;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#bannerbanner .search input:first-of-type{
	width: 338px;
	height: 19px;border:none;
	border-right: 1px solid #8ae1cb;
	background: white;
	color: gainsboro;
	float: left;
	margin: 5px 0 0 17px;
	
}
#bannerbanner .search input:last-of-type{
	width: 67px;
	height: 19px;
	vertical-align: center;
	float: left;
	margin: 5px 0 0 22px;
	border:none;
}

#nav{
	width: 1349px;
	height: 52px;
}
#nav ul{
	width: 1161px;
	height: 52px;
	
	padding-left: 7%;
}
#nav ul li{
	float: left;
	height: 52px;
	/*margin-right: 60px;*/
	line-height: 52px;
	
	
}
#nav ul li a{
	display: inline-block;
	height: 52px;
	color: black;
	padding: 0 30px;
	margin: 0;
}
#nav ul li a:hover{
	color: green;
	background: grey;
}
#nav ul li:nth-of-type(3){
	position: relative;
}
#nav ul li:nth-of-type(3) img{
	position: absolute;
	width: 37px;
	height: 12px;
	left: 68px;
	top: 2px;
}
#banner{
	width: 1349px;
	height: 421px;
	position: relative;
}
#banner #scroll a{
	width: 1349px;
	height: 421px;
	display: block;
}

#banner #scroll{
	width: 100%;
	height: 421px;
	position: absolute;
	left: 0;
	transition: all 1s; 
}
#banner #scroll {
	position: relative;
}

#banner #scroll a:first-of-type{
	position: absolute;
	right: 0;
}
#banner #scroll a:nth-of-type(2){
	position: absolute;
	right: -1920px;
}
#banner #scroll a:nth-of-type(3){
	position: absolute;
	right: -3840px;
}
#banner #scroll a:nth-of-type(4){
	position: absolute;
	right: -5760px;
}
#menu {
	width: 280px;
	height: 420px;
	position: absolute;
	left: 7%;
	top: 202px;
	z-index: 10;
	background: #4c3d11;
	background:rgba(0,0,0,0.6) ;
}
#menu ul{
	width: 280px;
	height: 400px;
	padding: 0;
	margin-top: 9px;
}
#menu li{
	/*padding: 4px 0 9px 52px;*/
	width: 280px;
	height: 53px;
	border-bottom: 1px solid #5e461e;
	/*position: relative;*/
	
}

#menu ul li h3{
	width: 100px;
	height: 20px;
	font-size: 18px;
	color: white;
	margin-left: 52px;
	margin-top: 5px;
}
#menu ul li p a{
	font-size: 12px;
	margin-right: 5px;
	color: white;
}
#menu ul li p a:hover{
	text-decoration: underline;
	color: green;
}
#menu ul li p{
	margin-left: 52px;
}
/*#menu li div{
	width: 600px;
	height: 330px;
	background: pink;
	position: absolute;
	left: 280px;
	top: 0px;
}*/
#menu ul li>div{
	width: 700px;
	height: 398px;
	background: white;
	position: absolute;
	left:280px;
	top: 0;
	color: black;
	display: none;
}
#menu ul li>div>div{
	width: 290px;
	margin-left: 40px;
}
#menu ul li>div>div:first-of-type{
	height: 217px;
	top: 6px;
	position: absolute;
}
#menu ul li>div>div:nth-of-type(2){
	height: 181px;
	position: absolute;
	top: 217px;
}
#menu ul li>div>div:nth-of-type(3){
	height: 206px;
	position: absolute;
	top: 6px;
	left: 330px;
}
#menu ul li>div img{
	width: 290px;
	height: 164px;
	position: absolute;
	top: 199px;
	left: 370px;
}
#menu ul li>div>div h3{
	height: 62px;
	width: 140px;
	line-height: 62px;
	border-bottom: 1px solid #ececec;
	font-size: 22px;
	font-family: "黑体";
	color: black;
}
#menu ul li>div>div a{
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	color: #ff7467;
	height: 24px;
	line-height: 24px;
	
}
#menu ul li>div>div a:hover{
	color: green;
	text-decoration: underline;
}
#menu ul li>div>div a:first-of-type{
	margin-top: 12px;
}
#menu ul li:nth-of-type(4) div:nth-of-type(2){
	position: absolute;
	top: 6px;
	left: 330px;
}
#banner1{
	width: 1349px;
	height: 150px;
	padding-top: 0.1px;
	padding-left: 0.1px;
}
#banner1 div{
	width: 1200px;
	height: 110px;
	margin-left: 7%;
	margin-top: 18px;
}
#banner1 a{
	
	display: inline-block;
	width: 275px;
	height: 110px;
	margin-right: 20px;
}
#banner1 img{
	width: 275px;
	height: 110px;
}
#price{
	width: 1349px;
	height: 280px;
	background: #f5f5f5;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#price  div{
	width: 1160px;
	height: 40px;
	margin-left: 7%;
	margin-top: 39px;
}
#price div h1{
	font-size: 34px;
	display: inline-block;
	margin-right: 12px;
}
#price div span:nth-of-type(2){
	float: right;
}
#price ul{
	width: 1161px;
	height: 126px;
	/*background: pink;*/
	padding-left: 0;
	margin-left: 7%;
	margin-top: 30px;
}
#price ul li{
	float: left;
	width: 370px;
	height: 126px;
	/*background: yellow;*/
}
#price ul li:nth-of-type(2){
	margin: 0 25px;
}
#price ul li a:first-of-type{
	float: left;
	width: 120px;
	height: 125px;
	/*border-top: 5px solid #474747;*/
	/*background: palegreen;*/
}
#price ul li a:first-of-type img{
	width: 120px;
	height: 125px;
}
#price ul li a:last-of-type{
	float: right;
	width: 250px;
	height: 120px;
	border-top: 5px solid #ff7467;
	/*background: palegreen;*/
}
#price ul li a:last-of-type p{
	
	width: 180px;
	height: 42px;
	overflow: hidden;
	/*text-overflow: ellipsis;*//*处理文本溢出部分*/
	margin-top: 19px;
	margin-left: 20px;
	
}

#price ul li a:last-of-type span:first-of-type{
	display: inline-block;
	width: 71.2px;
	height: 36px;
	font-size: 36px;
	margin-left: 132px;
	margin-top: 20px;
	/*margin-right: 3px;*/
}
#price ul li a:last-of-type span:last-of-type{
	font-size: 12px;
	margin-left: 10px;
	
}
#freewalk{
	width: 1347px;
	height: 711px; 
	/*background: red;*/
	padding-left: 0.1px;
	position: relative;
}
#freewalk #ul{
	width: 1160px;
	height: 91px;
	padding-left: 0;
	margin-left: 7%;
	margin-top: 0.1px;
}	
#freewalk #ul>li{
	width: 1160px;
}
#freewalk #ul>li h1{
	display: inline-block;
	height: 34px;
	margin-top: 57px;
}
#freewalk #ul >li span{
	margin-left: 12px;
	margin-top: 57px;
}
#freewalk #ul1{
	position: absolute;
	right: 7%;
	top: 57px;
	width: 635px;
	height: 13px;
	padding-left: 0.1px;
	
}
#freewalk #ul1 li{
	float: left;
	/*height: 12px;*/
	/*width: 60px;*/
	margin-left: 30px;
}
#freewalk #ul1 li:hover{
	border-bottom: 1px solid yellowgreen;
	color: yellowgreen;
}
#freewalk>div{
	width: 1160px;
	height: 553px;
	margin-top: 30px;
	margin-left: 7%;
	/*background: green;*/
	position: relative;
	overflow: hidden;
} 
#freewalk>div>div:first-of-type{
	width: 570px;
	height: 267px;
	position: relative;
	float: left;
}
#freewalk>div>div:first-of-type>img{
	width: 570px;
	height: 267px;
}
#freewalk>div>div:first-of-type>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:first-of-type>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:first-of-type>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:first-of-type>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 570px;
	height: 84px;
	background: #042327;
	color: white;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:first-of-type>p>p{
	margin-left: 24px;
	margin-top: 18px;
}
#freewalk>div>div:nth-of-type(2){
	width: 276px;
	height: 267px;
	position: relative;
	float: left;
	margin: 0 19px;
	
}
#freewalk>div>div:nth-of-type(2)>img{
	width: 276px;
	height: 267px;
}
#freewalk>div>div:nth-of-type(2)>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:nth-of-type(2)>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:nth-of-type(2)>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:nth-of-type(2)>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 276px;
	height: 84px;
	background: white;
	color: black;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:nth-of-type(2)>p>p{
	margin-left: 24px;
	margin-top: 18px;
}

#freewalk>div>div:nth-of-type(3){
	width: 276px;
	height: 267px;
	position: relative;
	float: left;
	/*margin-top: 20px;*/
}
#freewalk>div>div:nth-of-type(3)>img{
	width: 276px;
	height: 267px;
}
#freewalk>div>div:nth-of-type(3)>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:nth-of-type(3)>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:nth-of-type(3)>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:nth-of-type(3)>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 276px;
	height: 84px;
	background: white;
	color: black;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:nth-of-type(3)>p>p{
	margin-left: 24px;
	margin-top: 18px;
}

#freewalk>div>div:nth-of-type(4){
	width: 276px;
	height: 267px;
	position: relative;
	float: left;
	margin-top: 20px;
}
#freewalk>div>div:nth-of-type(4)>img{
	width: 276px;
	height: 267px;
}
#freewalk>div>div:nth-of-type(4)>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:nth-of-type(4)>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:nth-of-type(4)>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:nth-of-type(4)>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 276px;
	height: 84px;
	background: white;
	color: black;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:nth-of-type(4)>p>p{
	margin-left: 24px;
	margin-top: 18px;
}

#freewalk>div>div:nth-of-type(5){
	width: 276px;
	height: 267px;
	position: relative;
	float: left;
	margin: 0 20px;
	margin-top: 20px;
}
#freewalk>div>div:nth-of-type(5)>img{
	width: 276px;
	height: 267px;
}
#freewalk>div>div:nth-of-type(5)>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:nth-of-type(5)>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:nth-of-type(5)>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:nth-of-type(5)>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 276px;
	height: 84px;
	background: white;
	color: black;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:nth-of-type(5)>p>p{
	margin-left: 24px;
	margin-top: 18px;
}

#freewalk>div>div:nth-of-type(6){
	width: 276px;
	height: 267px;
	position: relative;
	float: left;
	margin-top: 20px;
	
}
#freewalk>div>div:nth-of-type(6)>img{
	width: 276px;
	height: 267px;
}
#freewalk>div>div:nth-of-type(6)>span{
	position: absolute;
	left: 72px;
	top: 146px;
	display: inline-block;
	width: 107px;
	height: 36px;
	background: #ff7467;
	color: white;
	text-align: center;
	line-height: 36px;
}
#freewalk>div>div:nth-of-type(6)>span>span:first-of-type{
	display: inline-block;
	width: 51px;
	font-size: 17px;
	
}
#freewalk>div>div:nth-of-type(6)>span>span:last-of-type{
	font-size: 10px;
}
#freewalk>div>div:nth-of-type(6)>p{
	position: absolute;
	left: 0;
	top: 184px;
	width: 276px;
	height: 84px;
	background: white;
	color: black;
	opacity: 0.7;
	padding-left: 0.1px;
	padding-top: 0.1px;
}
#freewalk>div>div:nth-of-type(6)>p>p{
	margin-left: 24px;
	margin-top: 18px;
}
#freewalk .div2{
	width: 275px;
	height: 267px;
	font-size: 17px;
	color: white;
	background: url(../img/greenback.png);
	position: absolute;
	top: 378px;
	right: 94px;
}
#freewalk .div2 p{
	margin-top: 48px;
	width: 275px;
	text-align: center;
}
#freewalk .div2 img{
	margin-left: 104px;
	margin-top: 15px;
}
#freewalk .div2 ul{
	margin-left: 23px;
	margin-top: 43px;
}
#freewalk .div2 ul li{
	font-size: 15px;
	float: left;
	background: url(../img/images/banner1-bj2.jpg) no-repeat center right;
}
#freewalk .div2 ul li:last-of-type{
	background: none;
}
#freewalk .div2 ul li a{
	margin: 0 13px;
	color: white;
	display: inline-block;
}
#freewalk .div2 ul li a:hover{
	text-decoration: underline;
}

/*#freewalk>div>#last{
	width: 276px;
	height: 267px;
	background: url(../img/greenback.png);
	position: absolute;
	text-align: center;
	padding-top: 0.1px;
	color: white;
	
	top: 287px;
	right: 0;
}
#freewalk>div>#last>a:first-of-type{
	display: block;
	width: 128px;
	height: 44px;
    text-indent: 25px;
    margin-top: 48px;
    
}
#freewalk>div>#last>a:nth-of-type(2){
	display: block;
	
	
	border: 1px solid white;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-top: 13px;
	
}*/

#freewalk>div:nth-of-type(2){
	display: none;
}
#freewalk >div:nth-of-type(3){
	display: none;
}
#freewalk >div:nth-of-type(4){
	display: none;
}
#freewalk >div:nth-of-type(5){
	display: none;
}
#freewalk >div:nth-of-type(6){
	display: none;
}
#freewalk >div:nth-of-type(7){
	display: none;
}

#main3{
	height: 565px;
	background: #f5f5f5;
}
#main3 .div1{
	padding-top: 41px;
	padding-bottom: 30px;
	margin-left: 95px;
	line-height:34px;
	line-height: 34px;
}
#main3 .div1 h3{
	font-size: 34px;
	font-family: "黑体";
	display: inline-block;
	margin-right: 14px;
}
#main3 .div1 ul{
	float: right;
	margin-right: 94px;
	font-size: 15px;
}
#main3 .div1 ul li{
	float: left;
	margin-left: 30px;
	height: 33px;
	line-height: 33px;
}
#main3 .div1 ul li:hover{
	color: #00b081;
	border-bottom: 3px solid #16c1a0;
}

#main3 .div2{
	height: 410px;
	margin-left: 95px;
	margin-right: 94px;
	font-size: 0;
}
#main3 .div2 .left{
	width: 370px;
	float: left;
}
#main3 .div2 .left .left1{
	width: 370px;
	height: 120px;
	background: white;
	font-size: 17px;
	margin-top: 25px;
	position: relative;
}
#main3 .div2 .left .left1 img{
	float: left;
	margin-right: 18px;
}
#main3 .div2 .left .left1 .p1{
	padding-top: 19px;
	line-height: 24px;
}
#main3 .div2 .left .left1 .p2{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#main3 .div2 .left .left1 .p2 span{
	font-size: 23px;
	color: #ff7467;
}

#main3 .div2 .middle{
	width: 370px;
	height: 410px;
	float: left;
	margin-left: 25px;
}
#main3 .div2 .middle .minddle1{
	width: 370px;
	height: 120px;
	background: white;
	font-size: 17px;
	position: relative;
}
#main3 .div2 .middle .minddle1 img{
	float: left;
	margin-right: 18px;
}
#main3 img:hover{
	opacity: 0.6;
}
#main3 .div2 .middle .minddle1 .p1{
	padding-top: 19px;
	line-height: 24px;
}
#main3 .div2 .middle .minddle1 .p2{
	font-size: 12px;
	color: #959595;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#main3 .div2 .middle .minddle1 .p2 span{
	font-size: 23px;
	color: #ff7467;
}
#main3 .div2 .middle .minddle2{
	width: 370px;
	height: 120px;
	background: white;
	font-size: 17px;
	position: relative;
	margin-top: 25px;
}
#main3 .div2 .middle .minddle2 img{
	float: left;
	margin-right: 18px;
}
#main3 .div2 .middle .minddle2 .p1{
	padding-top: 19px;
	line-height: 24px;
}
#main3 .div2 .middle .minddle2 .p2{
	font-size: 12px;
	color: #959595;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#main3 .div2 .middle .minddle2 .p2 span{
	font-size: 23px;
	color: #ff7467;
}
#main3 .div2 .middle .minddle3{
	width: 370px;
	height: 120px;
	background: white;
	font-size: 17px;
	position: relative;
	margin-top: 25px;
}
#main3 .div2 .middle .minddle3 img{
	float: left;
	margin-right: 18px;
}
#main3 .div2 .middle .minddle3 .p1{
	padding-top: 19px;
	line-height: 24px;
}
#main3 .div2 .middle .minddle3 .p2{
	font-size: 12px;
	color: #959595;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#main3 .div2 .middle .minddle3 .p2 span{
	font-size: 23px;
	color: #ff7467;
}

#main3 .div2 .right{
	width: 370px;
	height: 410px;
	float: left;
	margin-left: 25px;
}
#main3 .div2 .right .right1{
	width: 370px;
	height: 120px;
	background: white;
	font-size: 17px;
	position: relative;
}
#main3 .div2 .right .right1 img{
	float: left;
	margin-right: 18px;
}
#main3 .div2 .right .right1 .p1{
	padding-top: 19px;
	line-height: 24px;
}
#main3 .div2 .right .right1 .p2{
	font-size: 12px;
	color: #959595;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#main3 .div2 .right .right1 .p2 span{
	font-size: 23px;
	color: #ff7467;
}
#main3 .div2 .right .right2{
	width: 370px;
	height: 265px;
	background: url(../img/images/main3-7.jpg);
	margin-top: 25px;
	font-size: 17px;
	color: white;
}
#main3 .div2 .right .right2 p{
	padding-top: 49px;
	width: 370px;
	text-align: center;
}
#main3 .div2 .right .right2 img{
	margin-left: 152px;
	margin-top: 15px;
}
#main3 .div2 .right .right2 ul{
	margin-left: 12px;
	margin-top: 43px;
}
#main3 .div2 .right .right2 ul li{
	font-size: 15px;
	float: left;
	background: url(../img/images/main3-bj.jpg) no-repeat center right;
}
#main3 .div2 .right .right2 ul li:last-of-type{
	background: none;
}
#main3 .div2 .right .right2 ul li a{
	margin: 0 10px;
	color: white;
	display: inline-block;
}
#main3 .div2 .right .right2 ul li a:hover{
	text-decoration: underline;
}


#main4{
	height: 709px;
	font-size: 0;
}
#main4 .div1{
	padding-top: 41px;
	padding-bottom: 30px;
	margin-left: 95px;
	line-height:34px;
	line-height: 34px;
}
#main4 img:hover{
	opacity: 0.6;
}
#main4 .div1 h3{
	font-size: 34px;
	font-family: "黑体";
	display: inline-block;
	margin-right: 14px;
}
#main4 .div1>ul{
	float: right;
	margin-right: 94px;
	font-size: 15px;
}
#main4 .div1>ul li{
	float: left;
	margin-left: 30px;
	height: 33px;
	line-height: 33px;
}
#main4 .div1>ul li:hover{
	color: #00b081;
	border-bottom: 3px solid #16c1a0;
}
#main4 .div2{
	margin-left: 95px;
	margin-right: 94px;
	height: 267px;
}
#main4 .div2>div{
	float: left;
}
#main4 .div2 .div21,#main4 .div2 .div22{
	margin-right: 20px;
}
#main4 .div2 .div22,#main4 .div2 .div23{
	width: 275px;
	height: 267px;
}
#main4 .div2 .div22>div,#main4 .div2 .div23>div{
	border: 1px solid #ececec;
	width: 275px;
	height: 107px;
	border-top: none;
	position: relative;
}
#main4 .div2 .div22>div p,#main4 .div2 .div23>div p{
	padding: 20px 0 0 17px;
	font-size: 17px;
	color: #323232;
}
#main4 .div3{
	height: 267px;
	clear: both;
	margin: 20px 94px 0 95px;
}
#main4 .div3>div{
	float: left;
}
#main4 .div3 .div31,#main4 .div3 .div32,#main4 .div3 .div33{
	margin-right: 20px;
}
#main4 .div3 .div31>div,#main4 .div3 .div32>div,#main4 .div3 .div33>div{
	border: 1px solid #ececec;
	width: 275px;
	height: 107px;
	border-top: none;
	position: relative;
}
#main4 .div3 .div31 p,#main4 .div3 .div32 p,#main4 .div3 .div33 p{
	padding: 20px 0 0 17px;
	font-size: 17px;
	color: #323232;
}
#main4 .div3 .div34{
	width: 268px;
	height: 267px;
	font-size: 17px;
	color: white;
	background: url(../img/images/main4-7.jpg);
}
#main4 .div3 .div34 p{
	margin-top: 48px;
	width: 275px;
	text-align: center;
}
#main4 .div3 .div34 img{
	margin-left: 104px;
	margin-top: 15px;
}
#main4 .div3 .div34 ul{
	margin-left: 23px;
	margin-top: 43px;
}
#main4 .div3 .div34 ul li{
	font-size: 15px;
	float: left;
	background: url(../img/images/main2-bj.jpg) no-repeat center right;
}
#main4 .div3 .div34 ul li:last-of-type{
	background: none;
}
#main4 .div3 .div34 ul li a{
	margin: 0 13px;
	color: white;
	display: inline-block;
}
#main4 .div3 .div34 ul li a:hover{
	text-decoration: underline;
}
#main4 .div2>div>div>div{
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 12px;
	color: #959595;
}
#main4 .div2>div>div>div span{
	color: red;
	font-size: 23px;
}
#main4 .div3>div>div>div{
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 12px;
	color: #959595;
}
#main4 .div3>div>div>div span{
	color: red;
	font-size: 23px;
